html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: unset;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

img {
  height: 10%;
  width: 10%;
  filter: invert(0.2);
}

label {
  color: white;
}

p{
  color: white;
}

#user_logo{
  width: 25%;
  height: 25%;
}

.card {
  background: rgba(255, 252, 252, 0);
  border: 3px solid;
  margin: 0 auto;
  float: none;
}