<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block meta %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project_style.css') }}">

        {% block head %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        <header>
            <div class="container" >
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <a href="{{url_for('index')}}">
                                <img src="{{ url_for('static', filename='assets/docker-brands.svg') }}" class="mt-5">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% block header %}
            {% endblock %}
        </header>
        <div id="page-content">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
         <div class="container text-center d-flex justify-content-around">
            <small>Carlo Lomello - 0124001651</small>
            <small>Francesco Mabilia - 0124001910</small>
            <small>Roberto Vecchio - 0124001871</small>
        </div>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
    {% block other %}
    {% endblock %}
</html>