{% extends "templatesFolder/project_template.html"%}
{% block body %}
<h1 class="font-weight-light mt-4 text-white">Login Page</h1>
<form id="LogIn" action="{{url_for('logged_in')}}">
    <div class="form-group">
        <input type="text" name="username" class="form-control mt-5" id="id_username" placeholder="username"><br>
        <input type="password" name="password"  class="form-control" id="id_password"placeholder="password">
        <input type="button" onclick="login()" class="btn btn-dark btn-lg btn-block mt-5" value="LogIn">
    </div>
</form>
{% endblock %}
{% block other %}
<script>
    function login() {
    var username = document.getElementById("id_username").value;
    var password = document.getElementById("id_password").value;
    if(username == null || username == "" || password == null || password == ""){
        window.alert("tutti i campi sono obbligatori!");
    }else{
        document.getElementById("LogIn").submit();
    }
}
</script>

{% endblock %}