{% extends "templatesFolder/project_template.html"%}
{% block body %}
<h1 class="font-weight-light mt-4 text-white">Registrazione</h1>

<form id="idformInsert" action="{{url_for('register_conf')}}">
    <div class="form-group">
        <!-- EMAIL -->
        <input type="text" name="username" id="id_username" placeholder="Enter username" class="form-control mt-5" aria-describedby="emailHelp""><br>
        <!-- END EMAIL -->

        <!-- PASSWORD -->
        <input type="password" class="form-control" name="password" id="id_password" placeholder="Enter password"><br>
        <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Confirm password"><br>
        <!-- END PASSWORD -->
    
        <!-- INFO -->
        <input type="text" class="form-control" name="nome" id="id_nome" placeholder="Enter name"><br>
        <input type="text" class="form-control" name="cognome" id="id_cognome" placeholder="Enter surname"><br>
        <input type="text" class="form-control" name="telefono" id="id_telefono" placeholder="Enter telephone number">
        <!-- END INFO -->
    
        <input class="btn btn-dark btn-lg btn-block mt-5" type="button" onclick="myFunction()" value="Registrati!">
    </div>
</form>

{% endblock %}
{% block other %}
    <script>
        function myFunction() {
            var username = document.getElementById("id_username").value;
            var password = document.getElementById("id_password").value;
            var password2 = document.getElementById("id_password2").value;
            var nome = document.getElementById("id_nome").value;
            var cognome = document.getElementById("id_cognome").value;
            var telefono = document.getElementById("id_telefono").value;

            if(username == null || username == ""
            || password == null || password == ""
            || password2 == null || password2 == ""
            || nome == null || nome == ""
            || cognome == null || cognome == ""
            || telefono == null || telefono == ""
            ){
                window.alert("tutti i campi sono obbliegatori!");
            }else if (password != password2){
                window.alert("le password non coincidono");
            }
            else {
                document.getElementById("idformInsert").submit();
            }
        }
    </script>
{% endblock %}
    

