{% extends "templatesFolder/project_template.html"%}
{% block body %}

<div class="justify-content-center">
    <h1 class="font-weight-light mt-4 text-white">Welcome</h1>   

    <!-- CARD -->
    <div class="card border-dark mb-3 mt-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User Info</h5>
            <img class="mt-1 mb-2" src="{{ url_for('static', filename='assets/user.svg') }}" id="user_logo">
            <p class="card-text mt-3"> nome : {{ nome }} </p>
            <p class="card-text"> cognome : {{ cognome }} </p>
            <p class="card-text"> telefono : {{telefono}} </p>
        </div>
    </div>
</div>

{% endblock %}